<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Welcome to Streak Counter</h1>
        <h2>Users</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Streak</th>
            </tr>
            <% users.forEach((user) => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.count %></td>
                <td>
                    <button onclick="window.location.href='/<%= user.id %>'">
                        Open
                    </button>
                </td>
            </tr>
            <% }); %>
        </table>
    </body>
</html>
